body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.navbar {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.navbarLeft {
    flex-basis: 50%;
}

.navbarRight {
    display: flex;
    justify-content: flex-end;
    flex-basis: 30%;
    gap: 20px;
}

.heroSection {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    height: 300px;
}

.heroSectionLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.heroMainText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;

}

.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.heroSectionLeft button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;

}

.heroSectionRight {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.headerLogoText {
    font-size: 18px;
    color: #F9FAF8;
    padding: 75px;
    background: grey;
    margin-top: 48px;
    text-align: center;
}

.navbar p {
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
}

.information > p {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    
}

.information .images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image1 > p:first-of-type, .image2 > p:first-of-type, .image3 > p:first-of-type, .image4 > p:first-of-type {
    text-align: center;
    border: 10px solid #3882F6;
    border-radius: 10%;;
    min-height: 180px;
    color: white;
}

.image1, .image2, .image3, .image4 {
    max-width: 200px;
}

.quoteSection {
    background-color: #E5E7EB;
    margin-top: 70px;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0px auto;
}

.quote p:first-of-type {
    font: italic 36px roboto;
    margin-bottom: 0px;
}

.quote p:last-of-type {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.callToActionSection  {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    gap: 100px;
    background: #3882F6;
    padding: 20px 200px;
    margin-top: 70px;
    border-radius: 10px;
}

.callToActionSection .left {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.callToActionSection .left p:first-of-type {
    margin-bottom: 0px;
    font-weight: bold;
}

.callToActionSection .left p:last-of-type {
    margin-top: 10px;
    color: #E5E7EB;
}

.callToActionSection .right {
    align-self: center;
}

.callToActionSection .right button {
    background: transparent;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
}